**/datafiles/**/*.csv

# Directories #
venv/*
**/data/**/raw/*.tsv
**/data/**/raw/*.csv
**/data/**/raw/*.xlsx
**/data/**/processed/*.rds
**/data/**/processed/.Rproj.user
**/data/**/processed/.RData
**/data/**/processed/.Rhistory
**/data/**/processed/*.gz
**/data/**/processed/*.tsv
**/data/**/processed/*.muse_snv.csv
**/data/**/processed/res.*.csv
#**/data/**/processed/*.organ.csv
**/data/**/processed/sample_id.sbs.organ.csv
.DS_Store
.idea
