presentation filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
status_report filter=lfs diff=lfs merge=lfs -text
summer filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
dissertation filter=lfs diff=lfs merge=lfs -text
